@using AspNetCoreIdentityApp.MVC.Areas.Admin.Models.ViewModels
@model List<RoleViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-6 offset-md-2">
        <h2>Roller</h2>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary mb-3" asp-controller="Role" asp-action="Add" asp-area="Admin">Role Ekle</a>
    </div>
</div>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Role Adı</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Id</td>
                        <td>@role.Name</td>
                    </tr>
                }
        </table>
    </div>
</div>

