@model UserResponseDTO
@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-6 offset-md-3 text-center">
        <user-picture-thumbnail picture="@Model.Picture" style="width:300px" class="rounded"/>
    </div>
</div>

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h1>Kullanıcı Bilgileri</h1>
        <table class="table table-striped-columns table-hover">
            <thead>
                <tr>
                    <th scope="col">Kullanıcı Adı</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefon</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.UserName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


