@model SignInViewModel
@{
    ViewData["Title"] = "SignIn";
}
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Kullannıcı Giriş</h2>
        <form asp-action="SignIn" asp-controller="Home" method="post">
            <div class="mb-3">
                <label class="form-label" asp-for="EmailOrUserName"></label>
                <input type="text" class="form-control" asp-for="EmailOrUserName">
                <span class="text-danger" asp-validation-for="EmailOrUserName"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" class="form-control" asp-for="Password">
            </div>
            <div class="mb-3 form-check">
                <input class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" asp-for="RememberMe"></label>
            </div>
            <button type="submit" class="btn btn-primary">Giriş Yap</button>
        </form>

    </div>
</div>

